{% extends "base.html" %}

{% block title %}
Add Marks
{% endblock %}

{% block content %}

<div class="card form-card">

<h1>Add Student Marks</h1>

<form action="/add_marks" method="POST">

<label>Student ID</label>
<input type="text" name="student_id" required>

<label>Semester</label>
<input type="text" name="semester" required>

<label>Subject</label>
<input type="text" name="subject" required>

<label>Internal Marks</label>
<input type="number" name="internal_marks" required>

<label>External Marks</label>
<input type="number" name="external_marks" required>

<br>

<button type="submit" class="btn">
    Save Marks
</button>

</form>

</div>

{% endblock %}